htdocs/conf/conf.php
htdocs/conf/conf.php.old
htdocs/conf/conf.php.bak
htdocs/install/install.lock
htdocs/test.php
documents/
/nbproject/private/
default.properties
.settings/
.buildpath
dolibarr_install.log
doxygen_warnings.log
.project
.DS_Store
couchdb.stderr
couchdb.stdout
