[submodule "htdocs/core/db/couchdb"]
	path = htdocs/core/db/couchdb
	url = git@github.com:speedealing/PHP-on-Couch.git
[submodule "htdocs/custom"]
        path = htdocs/custom
[submodule "htdocs/includes/php-amqplib"]
	path = htdocs/includes/php-amqplib
	url = git://github.com/videlalvaro/php-amqplib.git
